<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/iuapmobile.um.css">
		<link rel="stylesheet" href="../css/font-icons.css">
		<link rel="stylesheet" type="text/css" href="../css/iuapmobile.um.listview.css">
		<link rel="stylesheet" type="text/css" href="../css/mint.css">
		<link rel="stylesheet" href="../css/msg.css">
		<script src="../js/summer.js" ></script>
		<script src="../js/jquery.min.js" ></script>
		<script src="../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
	</head>
	<body>
		<div class="um-frame" id="index">
			<div class="um-content">
				<div class="um-listview-wrap" id="listview">
					<mt-loadmore :top-method="loadTop" :bottom-method="loadBottom" top-pull-text="下拉刷新" top-drop-text="释放刷新" top-loading-text="刷新中..." bottom-pull-text="上拉加载" bottom-drop-text="释放加载" bottom-loading-text="加载中..." ref="loadmore">
						<ul class="um-list um-no-active">
							<mt-cell-swipe :right="[{content: '&nbsp;&nbsp;&nbsp;&nbsp;删除&nbsp;&nbsp;&nbsp;',style: {background: '#f44336', color: '#fff', lineHeight:'68px'},handler: function(){deleteItem(index)}}]"
							v-for="(item, index) in listDatas">
								<li class="um-listview-row" @click="itemClick(index)" @touchstart="tapHold(index)" @touchmove="cancelTapHold" @touchend="cancelTapHold">
									<a href="#" class="um-list-item um-swipe-action um-no-icon">
									<div class="um-swipe-btns">
										<span class="um-swipe-btn um-delete">删除</span>
									</div>
									<div class="um-list-item-media msg-info">
										<img alt="" :src="item.img" width=50>
										<span class="um-badge" v-if="item.msgNum>0">{{ item.msgNum }}</span>
									</div>
									<div class="um-list-item-inner">
										<div class="um-list-item-body">
											<h4 class="um-media-heading fb f16 um-text-overflow">{{ item.sender }}</h4>
											<p class="um-gray f14 um-text-overflow">
												{{ item.lastMsg }}
											</p>
										</div>
										<div class="pr10">
											<span class="um-gray f12">{{ item.lastTime }}</span>
										</div>
									</div> </a>
								</li>
							</mt-cell-swipe>
						</ul>
					</mt-loadmore>
				</div>
				
				 <mt-popup v-model="maInputVisible" position="bottom" class="mint-popup-4 w p15 pt30 pb30">
  					<div class="um-input-text">
						<span class="ti-user um-input-left-icon"></span>
						<input type = "text" id="name" class="form-control" placeholder = "Username" value="华新丽华测试姓名">
					</div>
					<div class="um-input-text">
						<span class="ti-lock um-input-left-icon"></span>
						<input type = "text" id="pwd" class="form-control" placeholder = "Username" value="华新丽华测试密码">
					</div>
                    <button class="btn" @click="activeIndex == 0 ? callAction() : callMaWithAjax()">发起请求</button>

				</mt-popup>
			</div>
		</div>
		<script type="text/javascript" src="../js/vue.js"></script>
		<script type="text/javascript" src="../js/mint.js"></script>
		<script type="text/javascript" src="../js/util.js"></script>
		<script src="../js/address.js" ></script>
	</body>
</html>